.basket-item {
  width: rem(1340);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
  }

  &__image {
    img {
      width: rem(80);
      height: rem(80);
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__button-group {
    padding-left: rem(90);
    display: flex;
    align-items: center;
    gap: rem(23);
    button {
      width: rem(32);
      height: rem(32);
      background: #FFFFFF;
      border: 2px solid #FE5F1E;
      border-radius: rem(50);
    }
  }

  &__price {
    padding-left: rem(93);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__deleted {
    margin-left: rem(90);
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(800);
    padding-top: rem(40);
    &-amount {
     display: flex;
      font-style: normal;
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(27);
      letter-spacing: 0.01em;
      color: #000000;
    }
    &-sum {
      display: flex;
      font-style: normal;
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(27);
      letter-spacing: 0.01em;
      color: #000000;
      gap: rem(40);
      &-current {
        font-style: normal;
        font-weight: 400;
        font-size: rem(22);
        line-height: rem(27);
        letter-spacing: 0.01em;
        display: flex;
        color: #FE5F1E;
      }
    }
  }
}
.info-item {
 display: flex;
 padding-left: rem(15);
 justify-content: center;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(27);
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__block {
    display: flex;
    justify-content: center;
    gap: rem(4);
  }

  &__block-types {
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }

  &__block-size {
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
}
